<div class="absolute text-center ng-star-inserted" style="transform: translate(-50%, -50%); left: 50%; top: 50%;">
    <div class="loading">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
</div>