@if (isLoaded)
{
    @ChildContent
}
else
{
    <div class="absolute text-center ng-star-inserted" style="transform: translate(-50%, -50%); left: 50%; top: 50%;">
        <div class="mt-4 mb-4 text-lg font-semibold">Please Login!</div>
        <button class="py-2 rounded-md cancel-button" style="border-radius: 6px; height: auto !important;" @onclick="@(()=>NavigationManager.NavigateTo("/account/login"))">
            Login
        </button>
    </div>
}


@code {
    bool isLoaded;
    [Inject]
    public NavigationManager MyNavigationManager { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    public string UserName;
    protected override async Task OnInitializedAsync()
    {
        var authstate = await AuthState.GetAuthenticationStateAsync();
        var user = authstate.User;
        UserName = user.Identity.Name;

        if (UserName != null)
        {
            isLoaded = true;
        }


    }
}
